.content {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 200px;
  width: 75%;
  z-index: 1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.col-md-6 {
  flex: 0 0 50%;
  padding: 5px;
}

.form-control {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  transition: border-color 0.3s ease-in-out;
}

.form-control:hover {
  border-color: #666;
}

.btn-primary {
  margin-top: auto;
  align-self: flex-end;
  background-color: #007bff;
  border: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.btn-primary:hover {
  background-color: #0056b3;
}
