.Select_main {
  display: flex;
  position: relative;
  left: 200px;
  flex-wrap: wrap;
  width: 53%;
  margin: 10px auto;
  padding: 40px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f5f5f5;
}

.Main_container {
  margin-top: 100px;
  margin-left: 30px;
}

.image_container {
  flex: 0 0 40%;
  margin-right: 10px;
  position: relative;
}

.image_container img {
  width: 75%;
  height: auto;
  object-fit: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.Select_Vehicle {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.Select_Vehicle h2 {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: bold;
}

.vehicle_info {
  display: flex;
  flex-wrap: wrap;
}

.vehicle_info div {
  flex: 0 0 50%;
  padding: 5px;
}

.secondary {
  position: absolute;
}

.vehicle_info p {
  margin-bottom: 6px;
  font-size: 14px;
  padding: 0;
}

.Select_details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 19px;
}

.Select_details h1 {
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: bold;
}

.Select_details h2 {
  margin-bottom: 10px;
  font-size: 16px;
}

.Select_details button {
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  background-color: #33b35e;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.Select_details button:hover {
  background-color: #33b35e;
}
